<!DOCTYPE html>
<html>
<head>
  <title>Вход в аккаунт</title>
 <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <div class="banner">
   <img src="/static/directory/logo3.png",width="300" height="200" >
  </div>
  <div class="login-container">
    <h1>Авторизация</h1>
    <form id="login-form">
      <input class="input-username" type="text" id="username" placeholder="Имя пользователя" required>
      <input class="input-password" type="password" id="password" placeholder="Пароль" required>
      <button class="button-acept" type="submit">Войти</button>
    </form>
  </div>

  <script src="/static/script.js"></script>

</body>
</html>